body{
    background-color: rgb(252, 245, 237);
}

.right {
     display:block;
     margin-right: 100px;
     margin-left: 200 px;
     margin-top: 50px;
     margin-bottom: 50px;
}
.center{
     display: block;
     margin-right:255px;
     margin-left:275px;
     float:left;
}
.bold{
     font-weight:bold;
     font-family:open sans-serif;   
}
.right2{
     display: inline-block;
     margin-left: 65px;
     margin-right: 300px;
     text-align: center;
     padding-left: 400px;
}
img{
     padding: 45px;
}
 .dot{
          height: 25px;
          width: 25px;
          text-decoration: rgb(188, 212, 212);
          background-color: rgb(201, 182, 159);
          border-radius: 50%;
          display: inline-block; 
          text-align: center; 
     }  
.dot2{
     height: 25px;
     width: 25px;
     text-decoration: rgb(188, 212, 212);
     background-color: rgb(201, 182, 159);
     border-radius: 50%;
     display: inline-block; 
     text-align: center; 
}  
.text2{
        text-decoration: aliceblue;
        text-align: center;
}
.text3{
     text-align: center;
}
.video{
     margin-left: 435px;
     margin-right: 800px;
}
.text4{ 
     display:inline-block;
     margin-right: 20px;
     margin-left: 650px;
     margin-bottom: 200px;
     margin-top: -500px;
}
